.container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 0;
    max-width: 100vw;
    height: 75vh;
}

.timer {
    display: flex;
    position: absolute;
    font-family: "Plus Jakarta Sans", sans-serif;
    bottom: 7vh;
    right: 10vh;
    font-size: 1.3rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 10vw;
    height: 10vh;
    background: #fff;
    border: 1px solid red;
}

.wrap {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    gap: 4vh;

}

.questionRow {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10vh;
    overflow-y: auto;
    padding-bottom: 10vh;
    width: 90vw;
}

.queRight {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.queWrap {
    display: flex;
    gap: 2vw;
}

.label {
    font-size: 1rem;
    font-weight: 500;
}

.optionRow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 4vw;
}

.radioItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.optionName {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
}

.index {
    font-size: 1rem;
    font-weight: 500;
}

.hr{
    display: flex;
    height: 1px;
    margin-top: 3vh;
    border: 1px solid rgba(95, 95, 95, 0.212);
}

.queWrapCover{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}